# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
run

#Directories
.gradle/
build/
generated/
generated-test/
tests/

#Files
gradle.properties